<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Gallery</title>
</head>
<body>
<th:block th:insert="Header.html"></th:block>
<div class="container-fluid">
  <div class="card">
    <div class = "card-header bg-primary text-white text-center">
      <h4>Product Gallery</h4>
    </div>
    <div class = "card-body">
          <span th:each="p:${plist}">
            <img class='p-2' th:src="@{${p.getImage()}}" width="450" height="300">
          </span>
    </div>
    <div class = "card-footer text-center bg-warning">
      <h6>copyright@2023</h6>
    </div>
  </div>
</div>
</body>
</html>